.main-card {
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8fafc;
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b6c3ca;
}
.icon-image {
  height: 20px;
  width: 20px;
  margin: 5px;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  border-left: 1px solid #b6c3ca;
  padding: 0px 5px;
  font-size: large;
}
.first-card {
  background-color: #5763a5;
  border: none;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin: 5px 0px;
}
.addHeading {
  margin: 0;
}
.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: max-content;
  background-color: #454f84;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  width: 50%;
}
form {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.add-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 40%;
}
.passwordManager-image {
  height: 400px;
  width: 400px;
  min-height: 90%;
  min-width: 90%;
}
.add-btn-container {
  margin-left: auto;
}
.add-btn {
  padding: 5px 10px;
  background-color: #0b69ff;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.add-image-container1 {
  display: none;
}
@media (max-width: 767px) {
  .add-image-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-image-container {
    display: none;
  }
  .first-card {
    background-color: #5763a5;
    border: none;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 60vh;
    width: 100%;
    margin: 5px 0px;
  }
  .form-card {
    width: 100%;
  }
  .passwordManager-image {
    height: 300px;
    width: 300px;
    min-height: 90%;
    min-width: 90%;
  }
}
